@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #acbcca;
    transition: 1.5s;
    visibility: h;
}
.clock{
    position: relative;
    width: 450px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c9d5e0;
    border-radius: 50px;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    box-shadow: 45px 45px 45px -15px rgba(0, 0, 0, 0.15),
    inset 15px 15px 10px rgba(255, 255, 255, 0.75),
    -15px -15px 35px rgba(255, 255, 255, 0.55),
    inset -2px -2px 15px rgba(0, 0, 0, 0.2);
    transition: 0.9s;
}
.numbers{
    position: absolute;
    top: 30px;
    width: 390px;
    height: 390px;
    background: #152b4a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 7px 22px #152b4a,
    inset 7px 7px 7px rgba(255, 255, 255, 0.55),
    -9px -9px 15px rgba(255, 255, 255, 1);
    transition: 0.5s;
}
.numbers::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #e91e63;
    z-index: 10;
    box-shadow: 0 0 0 1px #e91e63,
    0 0 0 3px #ffffff,
    0 0 5px 5px rgba(0, 0, 0, 0.15);
}
.numbers span{
    position: absolute;
    inset: 15px;
    text-align: center;
    color: #fff;
    font-size: 1.25em;
    transform: rotate(calc(30deg * var(--i)));
}
.numbers span b{
    font-weight: 400;
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));
}
.numbers .circle{
    position: absolute;
    width: 280px;
    height: 280px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1;
}
.numbers .circle i{
    position: absolute;
    width: 6px;
    height: 50%;
    background: var(--clr);
    opacity: 0.75;
    transform-origin: bottom;
    transform: scaley(0.5);
}
.numbers .circle#sec i{
    width: 2px;
}
.numbers .circle#min i{
    width: 2px;
}
.numbers .circle#min {
    width: 230px;
    height: 230px;
}
.numbers .circle#hrs {
    width: 180px;
    height: 180px;
}
.numbers .circle::before{
    content: '';
    position: absolute;
    top: -6px;
    left: 50%;
    width: 10px;
    height: 10px;
    background: var(--clr);
    border-radius: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 20px var(--clr),
    0 0 60px var(--clr);
}
#time{
    position: absolute;
    bottom: 35px;
    display: flex;
    padding: 10px 20px;
    font-size: 2em;
    font-weight: 600;
    background: #152b4a;
    border-radius: 40px;
    box-shadow: 7px 7px 22px #152b4a,
    inset 7px 7px 10px rgba(255, 255, 255, 0.55),
    -9px -9px 15px rgba(255, 255, 255,1);
    transition: 0.5s;
}
#time div{
    position: relative;
    width: 60px;
    text-align: center;
    color: var(--clr);
    opacity: 0.75;
}
#ampm{
    font-size: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
#time div:nth-child(1)::after,
#time div:nth-child(2)::after{
    content: ':';
    position: absolute;
    right: -4px;
}
#time div:nth-child(2)::after{
    animation: animate 1s steps(1) infinite;
}
@keyframes animate{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

#auto{
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 110px;
    left: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    font-weight: 600;
    background: #152b4a;
    border: none;
    color: #ffffff;
    border-radius: 50%;
    box-shadow: 7px 7px 22px #152b4a,
    inset 7px 7px 10px rgba(255, 255, 255, 0.55),
    -9px -9px 15px rgba(255, 255, 255,1);
    text-transform: uppercase;
    transition: 0.5s;
}
#btn{
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 41px;
    left: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    font-weight: 600;
    background: #152b4a;
    border: none;
    color: #ffffff;
    border-radius: 50%;
    box-shadow: 7px 7px 22px #152b4a,
    inset 7px 7px 10px rgba(255, 255, 255, 0.55),
    -9px -9px 15px rgba(255, 255, 255,1);
    text-transform: uppercase;
    transition: 0.5s;
}
#btn:hover{
    letter-spacing: 0.1em;
}
#ampm{
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 41px;
    right: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: 600;
    background: #152b4a;
    border: none;
    color: #ffffff;
    border-radius: 50%;
    box-shadow: 7px 7px 22px #152b4a,
    inset 7px 7px 10px rgba(255, 255, 255, 0.55),
    -9px -9px 15px rgba(255, 255, 255,1);
    text-transform: uppercase;
    transition: 0.5s;
}
#alarm{
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 110px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: 600;
    background: #152b4a;
    border: none;
    color: #ffffff;
    border-radius: 50%;
    box-shadow: 7px 7px 22px #152b4a,
    inset 7px 7px 10px rgba(255, 255, 255, 0.55),
    -9px -9px 15px rgba(255, 255, 255,1);
    text-transform: uppercase;
    transition: 0.5s;
}
.container{
    position: relative;
    width: 350px;
    height: 172px;
    display: none;
    text-align: center;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.204);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    z-index: 100;
}
.h3{
    font-size: 1.7em;
    color: #ffffff;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-radius: 10px;
    box-shadow: 7px 1px 22px #152b4a,
    inset 1px 1px 10px rgba(255, 255, 255, 0.55),
    -1px -1px 15px rgba(255, 255, 255,1);
    text-transform: uppercase;
}
#set{
    background: transparent;
    border: none;
    width: 90px;
    height: 30px;
    margin-bottom: 9px;
    font-size: 1.2em;
    font-weight: 600;
    background: #152b4a;
    color: #ffffff;
    border-radius: 20px;
    box-shadow: 7px 1px 22px #152b4a,
    inset 1px 1px 10px rgba(255, 255, 255, 0.55),
    -1px -1px 15px rgba(255, 255, 255,1);
    text-transform: uppercase;
    transition: 0.5s;

}
.setAlarm{
    display: flex;
    justify-content: space-around;
    padding: 24px;

}
.column select{
    background:transparent;
    border: none;
    text-align: center;
    border-radius: 15px;
    padding: 8px 4px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.more{
    position: absolute;
    background: transparent;
    border: none;
    width: 25px;
    height: 25px;
    left: 20px;
    transform: rotate(90deg);
    font-size: 0.4em;
    font-weight: 600;
    color: #ffffff;
    border-radius: 30px;
    box-shadow: 7px 1px 22px #152b4a,
    inset 1px 1px 10px rgba(255, 255, 255, 0.55),
    -1px -1px 15px rgba(255, 255, 255,1);
    transition: 0.5s;
}
.bk-btn{
    position: absolute;
    background: transparent;
    border: none;
    width: 45px;
    height: 25px;
    right: 20px;
    font-size: 0.4em;
    font-weight: 600;
    color: #ffffff;
    border-radius: 30px;
    box-shadow: 7px 1px 22px #152b4a,
    inset 1px 1px 10px rgba(255, 255, 255, 0.55),
    -1px -1px 15px rgba(255, 255, 255,1);
    transition: 0.5s;
}
.alarmLog{
    position: relative;
    width: 350px;
    height:35px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.204);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    z-index: 100;
}

.btn-delete{
    position: absolute;
    background: transparent;
    border: none;
    width: 80px;
    height: 25px;
    right: 20px;
    bottom: 5px;
    font-size: 0.7em;
    font-weight: 500;
    background: #152b4a;
    color: #ffffff;
    border-radius: 20px;
    box-shadow: 7px 1px 22px #152b4a,
    inset 1px 1px 10px rgba(255, 255, 255, 0.55),
    -1px -1px 15px rgba(255, 255, 255,1);
    text-transform: uppercase;
    transition: 0.5s;
}
.alarm-container{
    position: absolute;
    width: 350px;
    height: 172px;
    visibility: hidden;
    display: block;
    text-align: center;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 14, 14, 0.371);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    z-index: 100;
}
.ring{
    font-size: 27px;
    font-weight: 600;
    color: #ffffff;
}
#stopAlarm{
    background: transparent;
    border: none;
    width: 95px;
    height: 35px;
    font-size: 0.7em;
    font-weight: 500;
    background: #152b4a;
    color: #ffffff;
    border-radius: 20px;
    box-shadow: 7px 1px 22px #152b4a,
    inset 1px 1px 10px rgba(255, 255, 255, 0.55),
    -1px -1px 15px rgba(255, 255, 255,1);
    text-transform: uppercase;
}
.alarmList{
    color:#ffffff;
    font-size: 19px;
    font-weight: 900;
}
.tone{
    position: absolute;
    width: 350px;
    height: 172px;
    visibility: hidden;
    display: block;
    text-align: center;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(45, 161, 161, 0.371);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1000;
}